*.idea
/jupyterJavaKernel.iml
/target/archive-tmp
/target/classes
/target/maven-archiver
/target/maven-status
/target/
/.ipynb_checkpoints/
/.settings/
.classpath
bin
target
rascal-notebook/src/main/examples/.ipynb_checkpoints
Tem.java
